**/*.pdf
**/~*
Basin-snapshot.jpg
.idea/*
hurricane/images/earthmap1k.jpg
hurricane/images/earthspec1k.jpg
hurricane/images/moonbump1k.jpg
hurricane/images/moonbump2k.jpg
hurricane/images/moonbump4k.jpg
hurricane/images/moonmap1k.jpg
hurricane/images/moonmap2k.jpg
hurricane/images/moonmap4k.jpg
hurricane/images/8081-earthbump10k.jpg
hurricane/images/8081-earthbump2k.jpg
hurricane/images/8081-earthbump4k.jpg
hurricane/images/8081-earthhiresclouds4K.jp2
hurricane/images/8081-earthlights10k.jpg
hurricane/images/8081-earthlights2k.jpg
hurricane/images/8081-earthlights4k.jpg
hurricane/images/8081-earthmap10k.jpg
hurricane/images/8081-earthmap2k.jpg
hurricane/images/8081-earthmap4k.jpg
hurricane/images/8081-earthspec10k.jpg
hurricane/images/8081-earthspec2k.jpg
hurricane/images/8081-earthspec4k.jpg
hurricane/images/earthbump1k.jpg
hurricane/images/earthcloudmap.jpg
hurricane/images/earthcloudmaptrans.jpg
hurricane/images/earthlights1k.jpg
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/CREGION.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/CREGION.H
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUBASIC.H
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUCONST.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUDEBUG.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUDEBUG.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUDLL.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUDPMAIN.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUFILE.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUFILE.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUGLOBAL.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUGLOBAL.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HULOCA.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HULOCA.H
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HULOSS.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HULOSS0.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HULOSS1.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HULOSS2.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HULOSS3.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUMAIN.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUMAIN.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUSCENAR.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUSCENAR.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUSCENII.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUSORT.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUSORT.H
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/HUSTRUCT.H
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/HUWIN.CPP
/doc/hurms/IRAS36/SRC/IRAS36/CODE/HUEXPERT/STORMCLS.CPP
/doc/hurms/IRAS36/SRC/IRAS36/INCLUDE/HUEXPERT/STORMCLS.H
/doc/Windspeed-Sampling.ai
